
{#{% debug %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <style>
    .alignleft {
	    float: left;
    }
    .alignright {
	    float: right;
    }
    .bg-1 {
        letter-spacing: 6px;
        text-align: center;
    }
    .topad {
        padding-top: 0.5px;
    }
    .botpad{
        padding-bottom: 20px;
    }
    .lfpad {
        padding-left: 80px;
        padding-right:80px;
    }
    .black {
        color: black;
    }
    .containe {
        padding-left: 50px;
        padding-right: 50px;
    }
    .side {
        padding-top: 20px;
    }
    .color {
        border: 2px solid ;
    }
    .sel{
        width: 100%;
        height: 200px;
        background-image: url('https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F666029%2Fstock-chart-crash-correction-plunge-bounce-bear-market-bar-trend-invest-crypto-getty.jpg&w=700&op=resize');
        background-size: cover;
    }
    </style>
    <title> Stockie Stocks </title>
</head>
<body>
<!--
    <strong> Sample </strong>
    {% for temp in stock_data %}
    {{temp.currency}}
    {{temp.stock_price}}
    {% endfor %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
-->
    <div class="navbar-light bg-light bg-1">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link black" aria-current="page" href="#">STOCKIE</a>
            </li>
        </ul>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active sel">

        </div>
      </div>
    </div>






    <div class="card text-center">
        <div class="card-header"></div>
            <div class="card-body">
                <div class="card-title side lead display-6"><p class="text-muted"> Search... </p></div>
                <section class="section">
                    <div class="container">
                        <div class="columns">
                            <div class="column is-offset-4 is-4">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            {{ form.name }}
                                        </div>
                                        <div class="control">
                                            <button class="button is-rounded btn btn-primary text-center is-info">
                                                Add Stock
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <section class="section">
        <div class="container container-fluid">
            <div class="columns">
               <!-- <div class="column is-offset-4 is-4"> -->
                <div class="column col-sm-6">
                    {% for temp in stock_data %}
                    <div class="box">
                        <div class="card">
                            <header class="card-header">
                                <div>
                                    <span class="title card-header-title"><p>{{temp.symbol}}</p></span>
                                    <span class="card-header-title subtitle"><p>{{temp.name}}</p></span>
                                </div>
                            </header>
                            <footer class="card-footer">
                                    $<p class="card-footer-item subtitle is-3">{{temp.price}}</p>
                                    <p class="card-footer-item"> Change <br>  {{temp.market_change}} {{temp.market_change_percent}}</p>
                            </footer>

                            <footer class="card-footer">
                                <p href="#" class="card-footer-item">Date <br> {{temp.day_date}}</p>
                                <p href="#" class="card-footer-item">Previous Date <br> {{temp.previous_date}} </p>
                            </footer>
                            <footer class="card-footer">
                                <p class="card-footer-item">Current Volume <br> {{temp.day_volume}}</p>
                                <p class="card-footer-item">Previous Volume <br> {{temp.previous_volume}}</p>
                            </footer>
                            <footer class="card-footer">
                                <p class="card-footer-item">Current Open <br> {{temp.day_open}}</p>
                                <p class="card-footer-item">Previous Open <br> {{temp.previous_open}}</p>
                            </footer>
                            <footer class="card-footer">
                                <p class="card-footer-item">Current High <br> {{temp.day_high}}</p>
                                <p class="card-footer-item">Previous High <br> {{temp.previous_high}}</p>
                            </footer>
                            <footer class="card-footer">
                                <p class="card-footer-item">Current Low <br> {{temp.day_low}}</p>
                                <p class="card-footer-item">Previous Low <br> {{temp.previous_low}}</p>
                            </footer>
                            <footer class="card-footer">
                                <p class="card-footer-item">Current Close <br> {{temp.day_close}}</p>
                                <p class="card-footer-item">Previous Close <br> {{temp.previous_close}}</p>
                            </footer>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
<!--    <footer class="footer">
    </footer>
-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>