{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="card">
    <td>&nbsp;</td>
    <div class="card-body">
        <div class="col align-self-start">
           <h2>Password Reset</h2>
        </div>
        <td>&nbsp;</td>
        <p>Enter the email address associated with your account and we'll send you instructions for resetting your password.</p>
        <td>&nbsp;</td>
        <div class="custom1">
            <form method="post">
              {% csrf_token %}
            <table>
                {{ form.as_p }}
                <tr>
                    <td>&nbsp;</td>
                    <button type="submit" class="btn btn-primary">Reset my password</button>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
